---
import { Image } from "@astrojs/image/components";
const { data } = Astro.props;
---

<section class="bg" id="bg">
  <div class="inner">
    <h2>Founders</h2>
    <div class="flex-area">
      <div class="bio">
        <p>{data.founderBio}</p>
      </div>
      <div class="founder-wrapper" id="container1">
        <div class="founder">
          <div class="parallax-item">
            <Image
              class="founder-portrait"
              src={data.danielaImageUrl}
              quality={100}
              alt="Portrait of"
              width={330}
              height={330}
            />
            <div class="founder-orange-block left"></div>
            <div class="founder-orange-block right"></div>
          </div>
        </div>
        <div class="founder">
          <div class="parallax-item2">
            <Image
              class="founder-portrait"
              src={data.aliImageUrl}
              quality={100}
              alt="Portrait of"
              width={330}
              height={330}
            />
            <div class="founder-green-block top"></div>
            <div class="founder-green-block bottom"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inner">
    <h2>Our Team</h2>
    <div class="team-flex">
      {
        data.teamMembers.map((member) => {
          return (
            <div class="member-wrapper">
              <div class="member-inner">
                <div class="member-image">
                  {member.portraitUrl ? (
                    <Image
                      src={member.portraitUrl}
                      alt={`Portrait of ${member.memberName}`}
                      width={70}
                      height={70}
                    />
                  ) : (
                    <div class="member-fallback">
                      <h6>{member.memberName.charAt(0)}</h6>
                    </div>
                  )}
                </div>
                <div class="member-text">
                  <h6>{member.memberName}</h6>
                  <small>{member.memberRole}</small>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</section>

<script>
  // parallax scroll
  import { animate, scroll } from "motion";
  const parent = document.getElementById("bg");

  const item = document.querySelector(".parallax-item");
  const item2 = document.querySelector(".parallax-item2");

  scroll(animate(item, { y: "30%" }), {
    target: parent,
    offset: ["0 0.5", "1 1"],
  });

  scroll(animate(item2, { y: "30%" }), {
    target: parent,
    offset: ["0 0.5", "1 1"],
  });

  // randomize placeholders
  const fallbackSVG = [
    {
      svg: `<svg width="38" height="34" viewBox="0 0 38 34" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M37.1883 21.5533C37.1883 19.7592 36.3185 18.1618 34.9751 17.1331C34.9751 17.0877 34.9782 17.0454 34.9782 17C34.9782 7.62716 27.1745 0 17.5848 0C13.994 0 10.5519 1.05891 7.63598 3.05873C2.97422 6.23545 0.191406 11.4453 0.191406 17C0.191406 26.3728 7.99505 34 17.5848 34C19.8259 34 22.002 33.5885 24.0481 32.7807C27.029 31.619 29.589 29.6827 31.5081 27.1625C34.6469 27.1292 37.1914 24.6241 37.1914 21.5503L37.1883 21.5533ZM31.4431 25.0447C29.8552 25.0447 28.5086 24.0251 28.0443 22.6243C28.0289 22.4942 28.0196 22.3611 28.0196 22.228C28.0196 20.3613 29.5735 18.8425 31.4834 18.8425C33.3933 18.8425 34.9472 20.3613 34.9472 22.228C34.6253 23.8315 33.1766 25.0477 31.4431 25.0477V25.0447ZM25.8992 24.845C25.893 26.3789 25.2801 29.4618 21.6553 30.2273C21.4386 30.2696 21.3024 29.9943 21.482 29.8612C22.1227 29.3559 22.8532 28.7024 23.5652 27.8644C24.3545 26.9235 25.0882 25.5681 25.4999 24.7573C25.602 24.5545 25.9023 24.6241 25.9023 24.848L25.8992 24.845ZM16.3156 7.83894C13.409 7.55757 7.63598 7.81776 4.60862 13.6206C4.40123 14.0078 3.79452 13.8747 3.79761 13.436C3.81928 11.6843 4.51576 8.67699 8.29841 5.64851C8.34174 5.61221 8.39746 5.58498 8.45009 5.56985C9.04132 5.40043 12.4928 4.57751 16.5757 7.06745C16.9564 7.30646 16.7645 7.88432 16.3156 7.84197V7.83894ZM18.467 17.115C18.467 18.9151 17.5693 20.3764 16.4611 20.3764C15.353 20.3764 14.4615 18.9151 14.4615 17.115C14.4615 15.3148 15.3591 13.8475 16.4611 13.8475C17.5631 13.8475 18.467 15.3088 18.467 17.115ZM10.2857 23.2022C11.4651 23.2022 12.4216 24.137 12.4216 25.2897C12.4216 26.4424 11.4651 27.3712 10.2857 27.3712C9.10632 27.3712 8.15602 26.4424 8.15602 25.2897C8.15602 24.137 9.10632 23.2022 10.2857 23.2022ZM6.99213 17.115C6.99213 15.3088 7.88981 13.8475 8.99798 13.8475C10.1062 13.8475 10.9976 15.3088 10.9976 17.115C10.9976 18.9212 10.1 20.3764 8.99798 20.3764C7.896 20.3764 6.99213 18.9151 6.99213 17.115ZM27.4314 25.5711C27.645 25.7768 27.8772 25.9644 28.1248 26.1338C27.8307 27.0354 27.4221 27.9037 26.93 28.7387C26.3945 29.1472 25.8342 29.5223 25.246 29.8551C26.1778 28.5451 26.9207 27.105 27.4314 25.5711ZM31.4803 18.4431C29.9728 18.4431 28.6665 19.2903 28.0289 20.5216C28.4808 19.0997 29.8397 18.0619 31.44 18.0619C32.8825 18.0619 34.1238 18.903 34.6872 20.1102C33.9907 19.1057 32.8113 18.4431 31.4803 18.4431ZM32.7711 16.0954C32.3439 15.9956 31.8982 15.9381 31.44 15.9381C30.8829 15.9381 30.3443 16.0198 29.8366 16.165C28.0319 9.5695 22.2434 4.24773 15.3963 3.08898C22.002 4.74693 27.2271 10.3712 28.2889 16.8639C28.1403 16.9607 27.9948 17.0635 27.8555 17.1725C26.1778 9.62093 19.0737 3.93611 10.5209 3.83022C12.6847 2.71383 15.0898 2.12387 17.5817 2.12387C25.6639 2.12387 32.2913 8.31091 32.7711 16.0954ZM27.8896 27.9491C28.1898 27.4802 28.4591 26.9931 28.7006 26.4878C28.8368 26.5604 28.9792 26.624 29.1215 26.6875C28.7346 27.1322 28.326 27.5558 27.8896 27.9491Z" fill="#FA6300"/>
</svg>`
,

    },
    {
      svg: `<svg width="37" height="34" viewBox="0 0 37 34" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M36.3828 21.5521C36.3828 19.7571 35.536 18.1615 34.2279 17.132C34.2279 17.088 34.2308 17.044 34.2308 17C34.2308 7.62595 26.639 0 17.3068 0C13.8146 0 10.4654 1.05883 7.6272 3.05918C3.0896 6.23568 0.382812 11.4477 0.382812 17C0.382812 26.3741 7.97467 34 17.3068 34C19.488 34 21.605 33.5894 23.5964 32.7828C26.4959 31.6213 28.9866 29.6855 30.8524 27.166C33.9067 27.1337 36.3799 24.6289 36.3799 21.5521H36.3828ZM30.7911 25.0424C29.2465 25.0424 27.9354 24.0247 27.4857 22.6227C27.4711 22.4936 27.4595 22.3587 27.4595 22.2267C27.4595 20.3613 28.972 18.842 30.8291 18.842C32.6862 18.842 34.1987 20.3613 34.1987 22.2267C33.8863 23.8311 32.4759 25.0454 30.7882 25.0454L30.7911 25.0424ZM25.4009 24.8401C25.3951 26.3799 24.7994 29.4626 21.2663 30.2222C21.0589 30.2633 20.9275 29.9876 21.1027 29.8556C21.7276 29.3511 22.4342 28.697 23.1233 27.8582C23.8942 26.9225 24.6096 25.5645 25.0067 24.7491C25.106 24.5526 25.4038 24.623 25.4038 24.8401H25.4009ZM21.3714 24.0305C20.4954 24.3414 18.7697 24.8078 17.701 24.1303C17.009 23.6932 16.7637 23.8106 15.5811 24.5174C15.3329 24.667 15.0585 24.8313 14.7402 25.0072C12.5619 26.2245 11.7093 24.9486 10.3077 22.8339L10.2493 22.7429C10.1967 22.6696 10.0274 22.4203 9.89015 22.4408C9.43172 22.5024 8.67838 23.8223 8.17615 25.1275C8.07395 25.3915 7.78487 25.5264 7.51916 25.4384C7.23592 25.3445 7.08409 25.0336 7.1892 24.7521C7.61844 23.6023 8.5499 21.5462 9.74708 21.3879C10.1121 21.3351 10.6464 21.4289 11.1282 22.1534L11.1866 22.2443C12.705 24.5292 12.9678 24.7785 14.2263 24.0775C14.5329 23.9073 14.8015 23.749 15.0409 23.6052C16.2206 22.9042 17.0031 22.4379 18.2675 23.2327C18.9011 23.6316 20.2268 23.3031 21.0181 23.0274C21.2809 22.9365 21.5641 23.0626 21.675 23.3149C21.7977 23.5994 21.6605 23.9279 21.3714 24.0305ZM8.26082 16.1846C7.92211 16.2169 7.61552 16.3753 7.39944 16.6363C7.18336 16.8973 7.08117 17.2258 7.10745 17.5661C7.14832 18.0236 7.36732 18.4431 7.72063 18.7334C8.07103 19.0297 8.51486 19.1705 8.96745 19.1265C10.2201 19.015 11.1457 17.9034 11.0348 16.6451C10.8859 15.0026 9.43172 13.7883 7.80239 13.935L7.70603 12.8732C9.92227 12.6825 11.8845 14.3221 12.086 16.5483C12.2495 18.3903 10.8917 20.0181 9.06089 20.1882C8.97621 20.1941 8.89153 20.2 8.81269 20.2C8.16155 20.2 7.53668 19.9712 7.03445 19.5518C6.46798 19.0737 6.1205 18.4049 6.05043 17.6599C5.99787 17.0381 6.18182 16.4339 6.58478 15.9558C6.98189 15.4777 7.54252 15.1844 8.16155 15.1258C9.239 15.0349 10.1967 15.8326 10.2931 16.9149C10.3778 17.8389 9.69452 18.663 8.76889 18.7422C7.98051 18.8156 7.27096 18.2231 7.19796 17.4253L8.24914 17.3285C8.26958 17.5455 8.45938 17.7069 8.67254 17.6834C8.84189 17.6687 8.99081 17.5925 9.09593 17.4664C9.20105 17.3402 9.2536 17.173 9.23901 17.0088C9.19229 16.5102 8.74845 16.1318 8.25498 16.1787L8.26082 16.1846ZM19.6632 18.2202C19.1143 18.3199 18.5536 18.1996 18.0923 17.8799C17.6368 17.5602 17.3243 17.0792 17.2309 16.5248C17.1462 16.0526 17.2455 15.5804 17.5229 15.1874C17.7915 14.7943 18.2003 14.5274 18.6646 14.4424C19.0705 14.372 19.4734 14.4629 19.8121 14.6975C20.1508 14.9322 20.3728 15.2812 20.4458 15.686L19.4033 15.8766C19.3829 15.7505 19.307 15.642 19.2077 15.5687C19.1026 15.4953 18.9799 15.4689 18.8544 15.4895C18.6646 15.5276 18.5011 15.6332 18.3901 15.7916C18.2792 15.95 18.2354 16.1435 18.2675 16.3342C18.3726 16.9032 18.9128 17.2786 19.4734 17.1789C19.8501 17.1085 20.1771 16.8973 20.3932 16.5835C20.6093 16.2697 20.6939 15.8884 20.6268 15.51C20.4428 14.4629 19.4413 13.7678 18.3989 13.9526C17.0236 14.2019 16.1096 15.5247 16.3578 16.9061C16.5126 17.7714 16.9973 18.5311 17.7214 19.0355C18.4398 19.54 19.3187 19.7307 20.18 19.5723L20.3698 20.6194C20.11 20.6663 19.8472 20.6898 19.5873 20.6898C18.7084 20.6898 17.8528 20.4229 17.117 19.9096C16.1593 19.2467 15.5198 18.2465 15.3125 17.0939C15.1431 16.1494 15.3504 15.1932 15.8994 14.4013C16.4454 13.6094 17.263 13.0785 18.212 12.9084C19.8238 12.6209 21.3743 13.7003 21.6663 15.3194C21.9086 16.6803 21.0093 17.9767 19.6632 18.2202ZM16.0775 7.83713C13.2481 7.55556 7.63012 7.8166 4.68681 13.6182C4.48533 14.0053 3.89259 13.8734 3.89843 13.4334C3.91887 11.6794 4.59629 8.67305 8.27834 5.64614C8.31922 5.60801 8.3747 5.58161 8.42726 5.56694C9.00249 5.39683 12.3633 4.57264 16.3345 7.06573C16.7053 7.30625 16.5184 7.88406 16.0804 7.84006L16.0775 7.83713ZM26.893 25.5704C27.1003 25.7757 27.3281 25.9605 27.5646 26.1306C27.2784 27.0311 26.8813 27.9022 26.4024 28.7352C25.8827 29.1429 25.3396 29.5154 24.7673 29.8497C25.6725 28.5386 26.3937 27.1014 26.8901 25.5675L26.893 25.5704ZM30.832 18.4431C29.3662 18.4431 28.096 19.2907 27.4741 20.5226C27.9121 19.1001 29.2348 18.0647 30.794 18.0647C32.1985 18.0647 33.4074 18.9065 33.9534 20.112C33.276 19.1059 32.1285 18.4431 30.832 18.4431ZM32.0876 16.0966C31.67 15.9969 31.2408 15.9382 30.794 15.9382C30.2509 15.9382 29.7283 16.0204 29.2319 16.1641C27.477 9.57057 21.8415 4.24707 15.1811 3.08851C21.6079 4.74569 26.6915 10.3713 27.7252 16.8621C27.5792 16.9589 27.4419 17.0616 27.3047 17.1701C25.6695 9.62043 18.7609 3.93616 10.4391 3.83057C12.5444 2.71601 14.8833 2.12647 17.3068 2.12647C25.1702 2.12647 31.6175 8.31522 32.0847 16.0966H32.0876ZM27.3368 27.9491C27.6288 27.4798 27.8916 26.9929 28.1252 26.4884C28.2566 26.5618 28.3938 26.6263 28.534 26.6879C28.1573 27.1308 27.7602 27.5561 27.3368 27.9491Z" fill="#007AFF"/>
</svg>
`
    },
    {
      svg: `<svg width="37" height="34" viewBox="0 0 37 34" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M36.3828 21.5521C36.3828 19.7571 35.536 18.1615 34.2279 17.132C34.2279 17.088 34.2308 17.044 34.2308 17C34.2308 7.62595 26.639 0 17.3068 0C13.8146 0 10.4654 1.05883 7.6272 3.05918C3.0896 6.23568 0.382812 11.4477 0.382812 17C0.382812 26.3741 7.97467 34 17.3068 34C19.488 34 21.605 33.5894 23.5964 32.7828C26.4959 31.6213 28.9866 29.6855 30.8524 27.166C33.9067 27.1308 36.3799 24.6289 36.3799 21.5521H36.3828ZM30.7911 25.0424C29.2465 25.0424 27.9354 24.0247 27.4857 22.6227C27.4711 22.4907 27.4595 22.3587 27.4595 22.2238C27.4595 20.3583 28.972 18.839 30.8291 18.839C32.6862 18.839 34.1987 20.3554 34.1987 22.2208C33.8863 23.8252 32.4759 25.0424 30.7882 25.0424H30.7911ZM25.4009 24.8401C25.3951 26.3799 24.7994 29.4626 21.2663 30.2222C21.0589 30.2633 20.9275 29.9876 21.0969 29.8556C21.7276 29.3511 22.4342 28.697 23.1233 27.8582C23.8942 26.9225 24.6096 25.5645 25.0067 24.7491C25.106 24.5526 25.4038 24.623 25.4038 24.8401H25.4009ZM8.40098 24.8987C8.26958 24.7785 8.36594 24.5614 8.54114 24.582C11.7618 24.9955 14.9417 25.3651 17.8966 23.8487C18.7434 23.4293 19.5493 22.8632 20.4136 22.2179C20.5567 22.1123 20.7465 22.2531 20.691 22.4232C19.0413 27.5326 12.1385 28.3128 8.40098 24.8958V24.8987ZM6.79501 16.7683C6.79501 14.9615 7.66807 13.5009 8.74553 13.5009C9.82299 13.5009 10.6931 14.9615 10.6931 16.7683C10.6931 18.5751 9.82007 20.0298 8.74553 20.0298C7.67099 20.0298 6.79501 18.5692 6.79501 16.7683ZM16.0074 20.0298C14.9329 20.0298 14.0598 18.5692 14.0598 16.7683C14.0598 14.9674 14.9329 13.5009 16.0074 13.5009C17.082 13.5009 17.958 14.9615 17.958 16.7683C17.958 18.5751 17.0849 20.0298 16.0074 20.0298ZM16.0717 7.83126C13.2422 7.54969 7.62428 7.81073 4.68097 13.6123C4.4795 13.9995 3.88675 13.8675 3.89259 13.4275C3.91303 11.6736 4.59045 8.66718 8.2725 5.64027C8.31338 5.60214 8.36886 5.57574 8.42142 5.56108C8.99665 5.39096 12.3575 4.56677 16.3286 7.05987C16.6995 7.30038 16.5126 7.87819 16.0746 7.8342L16.0717 7.83126ZM26.8872 25.5616C27.0974 25.7669 27.3222 25.9546 27.5617 26.1247C27.2755 27.0252 26.8784 27.8963 26.3995 28.7293C25.8769 29.137 25.3308 29.5154 24.7556 29.8497C25.6637 28.5386 26.3878 27.0985 26.8842 25.5616H26.8872ZM30.8291 18.4372C29.3633 18.4372 28.0931 19.2849 27.4711 20.5167C27.9091 19.0942 29.2319 18.0559 30.7911 18.0559C32.1956 18.0559 33.4045 18.8977 33.9505 20.1032C33.2731 19.0971 32.1255 18.4343 30.8291 18.4343V18.4372ZM32.0847 16.0908C31.6671 15.991 31.2379 15.9324 30.7911 15.9324C30.248 15.9324 29.7253 16.0145 29.2289 16.1582C27.4741 9.5647 21.8386 4.2412 15.1782 3.08264C21.605 4.73982 26.6886 10.3654 27.7223 16.8563C27.5763 16.9531 27.4361 17.0557 27.2989 17.1672C25.6666 9.61749 18.758 3.93323 10.4362 3.82471C12.5415 2.71014 14.8803 2.1206 17.3039 2.1206C25.1673 2.1206 31.6145 8.30935 32.0817 16.0908H32.0847ZM27.3339 27.9432C27.6259 27.4739 27.8887 26.9871 28.1223 26.4826C28.2537 26.5559 28.3909 26.6204 28.5311 26.682C28.1544 27.1249 27.7573 27.5502 27.3339 27.9432Z" fill="#C7D92E"/>
</svg>
`,
    },
    {
      svg: `<svg width="37" height="34" viewBox="0 0 37 34" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M34.0365 17.1335C34.0365 17.0865 34.0394 17.0455 34.0394 17.0015C34.0394 7.62661 26.4475 0 17.1154 0C13.6232 0 10.274 1.05599 7.43579 3.05944C2.89819 6.23622 0.191406 11.4458 0.191406 17.0015C0.191406 26.3734 7.78326 34 17.1154 34C19.2966 34 21.4136 33.5923 23.405 32.7827C26.3045 31.6211 28.7923 29.6851 30.661 27.1654C33.7153 27.1331 36.1914 24.6281 36.1914 21.554C36.1914 19.7588 35.3446 18.1601 34.0365 17.1335ZM33.7591 20.1078C33.0817 19.1047 31.937 18.4417 30.6377 18.4417C29.1719 18.4417 27.9017 19.2894 27.2797 20.5214C27.7177 19.0988 29.0405 18.0604 30.5997 18.0604C32.0013 18.0604 33.2101 18.9023 33.7591 20.1078ZM17.1154 2.12372C24.9788 2.12372 31.4261 8.313 31.8932 16.0951C31.4786 15.9953 31.0465 15.9367 30.5997 15.9367C30.0566 15.9367 29.5339 16.0188 29.0375 16.1625C27.2827 9.56846 21.6501 4.2445 14.9897 3.08584C21.4165 4.7461 26.5001 10.3693 27.5338 16.8636C27.3878 16.9604 27.2447 17.0631 27.1104 17.1716C25.4781 9.62126 18.5666 3.9365 10.2477 3.82797C12.353 2.71625 14.6919 2.12372 17.1154 2.12372ZM21.2092 16.3385C19.6382 15.9249 18.0819 15.5436 16.5343 16.4705C16.0905 16.7257 15.6613 17.0836 15.197 17.4943C15.1211 17.5617 15.0335 17.4561 15.0714 17.3417C16.1723 13.8834 19.6353 13.6223 21.2968 16.1273C21.3552 16.2153 21.2968 16.362 21.2092 16.3385ZM4.48957 13.6164C4.28809 14.0036 3.69534 13.8716 3.70118 13.4287C3.72162 11.6775 4.39905 8.66793 8.0811 5.64076C8.12198 5.60262 8.17454 5.57622 8.22709 5.56156C8.80524 5.39142 12.1632 4.56716 16.1343 7.06048C16.5051 7.29808 16.3212 7.87887 15.8803 7.83487C13.0508 7.55327 7.43579 7.81434 4.48957 13.6164ZM6.6036 16.7727C6.6036 14.9657 7.47667 13.505 8.55705 13.505C9.63743 13.505 10.5017 14.9657 10.5017 16.7727C10.5017 18.5796 9.62867 20.0345 8.55705 20.0345C7.48543 20.0345 6.6036 18.5737 6.6036 16.7727ZM20.4996 22.4281C18.8499 27.5379 11.9442 28.3182 8.20957 24.9009C8.07818 24.7806 8.17454 24.5635 8.34973 24.587C11.5704 25.0006 14.7532 25.3702 17.7052 23.8537C18.552 23.4342 19.3579 22.8681 20.2222 22.2228C20.3624 22.1172 20.5551 22.258 20.4996 22.4281ZM21.0749 30.2248C20.8675 30.2659 20.7361 29.9902 20.9055 29.8582C21.5333 29.3536 22.2428 28.6995 22.9319 27.8606C23.7028 26.9249 24.4182 25.5638 24.8124 24.7513C24.9146 24.5547 25.2095 24.6251 25.2095 24.8422C25.2037 26.3822 24.608 29.4651 21.0749 30.2248ZM24.57 29.8552C25.4781 28.544 26.1994 27.1038 26.6987 25.5667C26.906 25.7721 27.1337 25.9598 27.3732 26.1299C27.0841 27.0305 26.687 27.9016 26.211 28.7376C25.6913 29.1454 25.1423 29.5208 24.57 29.8552ZM27.1425 27.9486C27.4345 27.4793 27.6973 26.9923 27.9309 26.4878C28.0652 26.5611 28.2024 26.6257 28.3397 26.6873C27.963 27.1302 27.5688 27.5555 27.1425 27.9486ZM30.5997 25.0446C29.0551 25.0446 27.744 24.0267 27.2943 22.6246C27.2768 22.4926 27.2681 22.3606 27.2681 22.2257C27.2681 20.3601 28.7806 18.8407 30.6377 18.8407C32.4948 18.8407 34.0073 20.3572 34.0102 22.2228C33.6978 23.8273 32.2874 25.0446 30.5997 25.0446Z" fill="#6B47FF"/>
</svg>
`
    },
  ];

  function getRandomInt(max) {
    return Math.floor(Math.random() * Math.floor(max));
  }

  document.addEventListener("DOMContentLoaded", () => {
    const memberFallbacks = document.querySelectorAll(".member-fallback");
    let lastFallbackSVGIndex = -1;

    memberFallbacks.forEach((fallback) => {
      let fallbackSVGIndex;

      do {
        fallbackSVGIndex = getRandomInt(fallbackSVG.length);
      } while (fallbackSVGIndex === lastFallbackSVGIndex);

      const colorPair = fallbackSVG[fallbackSVGIndex];
      fallback.innerHTML = colorPair.svg
      lastFallbackSVGIndex = fallbackSVGIndex;
    });
  });
</script>

<style lang="scss">
  .bg {
    background: var(--primary-light);
    padding: 10rem 0;
  }
  .inner {
    width: var(--inner-width);
    margin: 0 auto;
    padding: 2.5rem 0;
    h2 {
      font-family: "Hamburg-Light";
      color: var(--accent-darkgreen);
      text-transform: uppercase;
      line-height: 100%;
    }
  }

  .flex-area {
    display: flex;
    position: relative;
    color: var(--accent-darkgreen);
    margin: 5rem auto;
    .bio {
      p {
        width: 90%;
      }
    }
    :nth-child(1) {
      flex-basis: 40%;
    }
    :nth-child(2) {
      flex-basis: 60%;
      // margin-left: 2rem;
    }
    .founder-wrapper {
      display: flex;
      flex-basis: 50%;
    }
    .founder {
      margin: 2rem;
      aspect-ratio: 1/1;
      height: 380px;
      width: auto;
      position: relative;
    }
    .founder-portrait {
      position: absolute;
      width: 85%;
      height: 85%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      z-index: 5;
    }
    .founder-orange-block {
      background: var(--accent-orange);
      border-radius: 40px;
      height: 100%;
      width: 50%;
      position: absolute;
      top: 0;
    }
    .left {
      left: 0;
    }
    .right {
      right: 0;
    }
    .founder-green-block {
      background: var(--accent-green);
      border-radius: 40px;
      width: 100%;
      position: absolute;
    }
    .parallax-item,
    .parallax-item2 {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .top {
      height: 40%;
      top: 0;
    }
    .bottom {
      height: 60%;
      bottom: 0;
    }
  }
  .team-flex {
    margin: 4rem auto;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2.5rem 1rem;
  }

  .member-wrapper {
    max-width: 100%;
    position: relative;
    border-radius: 50px;
    background: var(--accent-green);
  }
  .member-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
  }
  .member-image {
    position: relative;
    aspect-ratio: 1/1;
    height: 70px;
    width: auto;
    border-radius: 100%;
    background: var(--primary-light);
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  .member-fallback {
    display: grid;
    place-items: center;
    // position: absolute;
    // top: 50%;
    width: 100%;
    height: 100%;
    line-height: 100%;
  }
  .member-text {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    color: var(--accent-darkgreen);
    small {
      font-family: "Aktiv-Regular";
      white-space: nowrap;
    }
  }
</style>
