---
import { Image } from "@astrojs/image/components";
import AllOtherProjects from "./allOtherProjects.astro";

const { data, textColor } = Astro.props;

const featuredProjectData = data.allProjects[0];
const secondTierFeaturedData = data.allProjects.slice(1, 3);
const allOtherProjectData = data.allProjects.slice(3);

let setTextColor = textColor ? textColor : "var(--color-darkpurple)";
---

<header class="header">
  <h3>
    Our projects <span class="project-count">
      <h5>{data.allProjects.length}</h5>
    </span>
  </h3>
</header>
<div class="inner-wrapper">
  <!-- Featured project -->
  {
    featuredProjectData && (
      <div class="project" id="featured-project">
        <div class="image-wrapper" id="hide-featured">
          <Image
            id="featured-project-image"
            class="featured-image"
            src={featuredProjectData.imageUrl}
            width={1850}
            height={1035}
            alt={`Featured project - ${featuredProjectData.projectName} `}
            fit="cover"
            quality={90}
          />
        </div>
        <h6>{featuredProjectData.projectName}</h6>
      </div>
    )
  }
  <!-- Second tier featured -->
  <div class="second-tier-featured-flex" id="secondary-project">
    {
      secondTierFeaturedData.map((project) => {
        return (
          <div class="project second-tier-featured">
            <div class="image-wrapper" id="hide-secondary">
              <Image
                id="secondary-project-image"
                class="featured-image"
                src={project.imageUrl}
                width={910}
                height={512}
                alt={`Featured project - ${project.projectName} `}
                fit="cover"
                quality={80}
              />
            </div>
            <h6>{project.projectName}</h6>
          </div>
        );
      })
    }
  </div>
  <!-- All other projects -->
  <AllOtherProjects data={allOtherProjectData} setTextColor={setTextColor}/>
</div>

<script>
  import { animate, inView } from "motion";

  const featuredProjectInView = document.getElementById("featured-project");
  const featuredProjectHideImage = document.getElementById("hide-featured");
  const featuredProjectImage = document.getElementById(
    "featured-project-image"
  );

  inView(featuredProjectInView, ({ target }) => {
    animate(featuredProjectImage, { transform: "scale(1)" }, { duration: 1.3 }),
      animate(
        featuredProjectHideImage,
        {
          clipPath: "inset(0% 0% 0% 0%)",
        },
        { duration: 1.7 }
      );
  });

  const secondaryProjectInView = document.getElementById("secondary-project");
  const secondaryProjectHideImage =
    document.querySelectorAll("#hide-secondary");
  const secondaryProjectImage = document.querySelectorAll(
    "#secondary-project-image"
  );

  inView(secondaryProjectInView, ({ target }) => {
    animate(
      secondaryProjectImage,
      { transform: "scale(1)" },
      { duration: 1.3 }
    ),
      animate(
        secondaryProjectHideImage,
        {
          clipPath: "inset(0% 0% 0% 0%)",
        },
        { duration: 1.7 }
      );
  });
</script>

<style lang="scss" define:vars={{ setTextColor }}>
  .header {
    width: var(--inner-width);
    margin: 0 auto;
    padding: 5rem 0;
    h3 {
      color: var(--setTextColor);
      text-transform: uppercase;
      font-family: "Hamburg-Regular";
      position: relative;
      display: inline;
    }
    .project-count {
      position: absolute;
      top: 0;
      right: -3rem;
    }
  }
  .inner-wrapper {
    position: relative;
    max-width: max(98vw, var(--max-width));
    margin: 0 auto;
    padding-bottom: 15rem;
  }
  .project {
    position: relative;
    width: 100%;
    margin-bottom: 6rem;
    h6 {
      text-transform: uppercase;
      margin: 3rem;
      margin-top: 2rem;
      color: var(--setTextColor);
    }

    .image-wrapper {
      overflow: hidden;
      aspect-ratio: 1850/1035;
      width: 100%;
      position: relative;

      .featured-image {
        aspect-ratio: 1850/1035;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  #hide-featured,
  #hide-secondary {
    clip-path: inset(0% 0% 100% 0%);
  }
  #featured-project-image {
    transform: scale(2);
  }
  #secondary-project-image {
    transform: scale(1.5);
  }

  .second-tier-featured-flex {
    padding: 3rem 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    .second-tier-featured:nth-child(odd) {
      margin-right: 1rem;
    }
    .second-tier-featured:nth-child(even) {
      margin-left: 1rem;
    }
  }
</style>
